@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", "Arial", sans-serif;
    background: #f5f5f5;
}

.nuxt-link-active,
.nuxt-link-exact-active {
    color: #e03a2f;
    font-weight: 600;
}